/*MeteoHome*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://fv9-3.failiem.lv/down.php?i=twqq54ua5&view);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2%, 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(0, 40, 255, 255);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/*Dropdowns*/
.nav-links ul.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(0, 40, 255);
    padding: 0;
    border-radius: 10px;
  }
  
  .nav-links li:hover ul.sub-menu {
    display: block;
  }

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid rgba(0, 40, 255, 1.0);
    background: rgba(0, 40, 255, 1.0);
    transition: 0.5s;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: rgba(0, 40, 255, 1.0);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}

.par {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #666666;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.info-col {
    flex-basis: 31%;
    background-color: rgb(226, 230, 253);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.info-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.contact {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.contact-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.contact-col img {
    width: 100%;
    
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(0, 40, 255, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50;
    transform: translateX(0%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 35%;
    opacity: 1;
}

.karte {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.reviews {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.reviews-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: rgba(226, 230, 253, 1.0);
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.reviews-col img {
    height: 50px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.reviews-col p {
    padding: 0;
}

.reviews-col h3 {
    margin-top: 15px;
    text-align: left;
}

.reviews-col .fa {
    color: rgb(0, 40, 255)
}

.LVGMC_karte_poga {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 40, 255);
    border: 1px solid rgb(0, 40, 255);
    border-radius: 5px;
    padding: 12px 34px;
    margin-top: 25px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.LVGMC_karte_poga:hover {
    border: 1px solid rgb(255, 255, 255);
    background: rgb(0, 40, 255);
    color: #ffffff;
    transition: 0.5s;
}

@media(max-width: 700px) {
    .reviews-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: rgb(0, 40, 255);
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: white;
}

.fa-copyright{
    color: rgb(200, 200, 200);
}

.footer p{
    color: rgb(200, 200, 200);
}

.icons .fa {
    color: rgb(255, 255, 255);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.info-col ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    text-align: left;
}

.info-col li {
    margin: 0;
    padding: 4px 0 10px 0px;
}

.footer a {
    text-decoration: none;
}

/*MeteoPar*/


.sub-header-par {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/16147796.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header h1 {
    margin-top: 100px;
}

.par-mani {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}


.par-col {
    flex-basis: 48%;
    padding: 30px 0;
}

.par-col img {
    width: 100%;
}

.par-col h1 {
    padding-top: 0;
}

.par-col p {
    padding: 15px 0 25px;
}

.red-btn {
    border: 1px solid rgba(0, 40, 255, 1.0);
    background: transparent;
    color: rgba(0, 40, 255, 1.0);
}

.red-btn:hover {
    color: rgba(255, 255, 255, 1.0);
}


/*MeteoNoverojumuKarte*/


.sub-header-karte {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://fv9-5.failiem.lv/down.php?i=5mp24rb9w&view);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.LVGMC_karte {
    width: 100%;
    height: 600px;
    display: block;
}

.LVGMC_karte2 {
    width: 90%;
    height: 600px;
    display: block;
    margin: 0 auto; /* Add this line */
    border-radius: 10px;
}

.LVGMC_noverojumu_karte h1 {
    text-align: center;
}

.LVGMC_noverojumu_karte li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.LVGMC_noverojumu_karte {
    font-size: 14px;
}

.LVGMC_noverojumu_karte a {
    display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.LVGMC_noverojumu_karte a:hover {
    background-color: rgba(0, 40, 255, 1.0);
    color: #fff;
    border-color: rgba(0, 40, 255, 1.0);
    border-radius: 10px;
}

.color-legend-temperature {
    position: relative;
    width: 80%;
    height: 20px;
    margin: 20px auto;
    background: linear-gradient(to right, #ffdbff, #ffd3ff, #ffcbff, #ffc1ff, #ffb7ff, #ffacff, #ffa1ff, #ff97ff, #ff8cff, #ff83ff, #ff7aff, #ff71ff, #ff68ff, #ff5fff, #ff55ff, #ff46f8, #ff3dff, #ff34ff, #ff2cff, #ff20ff, #ff02ff, #ef00f7, #d608e9, #bb14d9, #9b1ac7, #7d1cb6, #5f1ba5, #431796, #2a118a, #140982, #00007f, #000087, #000095, #0000ac, #0000c8, #0100e2, #0200f8, #0012ff, #002cff, #003fff, #0050ff, #0060ff, #0071ff, #0080ff, #0091ff, #00a4ff, #00b8ff, #00ccff, #00e0ff, #00f0ff, #00fdff, #00ffeb, #00ffcf, #00ffac, #00ff82, #00ff51, #00ff09, #4dff00, #78ff00, #9cff00, #bfff00, #deff00, #f4ff02, #fffb00, #ffed00, #ffdb00, #ffc700, #ffb200, #ff9d00, #ff8a00, #ff7a00, #ff6c00, #ff5d00, #ff4f00, #ff4000, #ff2f00, #ff1900, #fc0000, #ec0000, #d70000, #be0000, #a80000, #920000, #800000, #720000, #640000, #560000, #4b0000, #410000, #3b0000, #370000, #380107, #3e0314, #470626, #530739, #5f084d, #6c0662, #770472, #7e007e, #7e007e);
    border-radius: 10px;
    border-width: 50px;
    border-color: rgb(67, 67, 67);
    box-shadow: 0 0 5px rgba(0, 0, 0, 1.0);
}

.legend-text-container {
    display: flex;
    justify-content: space-between;
}

.legend-text {
    font-size: 12px;
    color: #333;
}

.legend-text:first-child {
    margin-left: -50%;
}

.legend-text:last-child {
    margin-right: -50%;
}



/*Sal카dzin훮jumi*/


.sub-header-sal카dzin훮jumi {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/climate.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

th {
    background-color: rgb(0, 40, 255);
    color: white;
    text-align: left;
    padding: 8px;
}

tr {
    border-bottom: 1px solid rgb(128, 128, 128);
    transition: 1.0s;
}

td {
    text-align: left;
    padding: 8px;
}

tr:hover {
    background-color: rgb(193, 202, 255);
}

/*Others*/

.launch-teaser img {
    border-radius: 8px;
}

/*MeteoNoverojumuKarte*/
.sub-header-sateliti {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://fv9-6.failiem.lv/down.php?i=ddmjv2vej&view);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

/*MeteoNegaisi*/
.sub-header-negaisi {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://fv9-4.failiem.lv/down.php?i=bqradv8eu&view);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.Blitzortung {
    text-align: center;
}

.Blitzortung h1 {
    text-align: center;
}

.MeteoLatvia_StormMap h1 {
    text-align: center;
}

.MeteoLatvia_StormMap img {
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.active,
.collapsible:hover {
    background-color: rgb(0, 40, 255);
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.active:after {
    content: "\2212";
}

.thunderstorm-outlook {
    padding: 0 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thunderstorm-outlook p{
    font-family: 'Courier Prime', monospace; 
}

.thunderstorm-outlook-description {
    padding: 0 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thunderstorm-outlook-description p{
    font-family: 'Courier Prime', monospace; 
}

/*MeteoRadars*/
.sub-header-radars {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://fv9-5.failiem.lv/down.php?i=9e4d5seke&view);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

/*MeteoChangelog*/
.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .info-col-changelog {
    width: 100%;
    background-color: rgb(226, 230, 253);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.info-col-changelog:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
}

.info-col-changelog ul {
    list-style-type: none;
  }

.info-col-changelog li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
  }


.info-col-changelog li::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 0;
}

/*MeteoChangelog*/
.sub-header-radars {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://fv9-5.failiem.lv/down.php?i=9e4d5seke&view);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.img-fluid{
    width: 100%;
    
}

/*MeteoPrognoze*/
.collapsible-2 {
    background-color: rgb(0, 40, 255);
    color: white;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.active,
.collapsible-2:hover {
    background-color: rgb(128, 128, 128);
}

.collapsible-2:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.active:after {
    content: "\2212";
}

.thunderstorm-outlook-2 {
    padding: 0 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thunderstorm-outlook-2 p{
    font-family: 'Courier Prime', monospace; 
}

.thunderstorm-outlook-2-description {
    padding: 0 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thunderstorm-outlook-2-description p{
    font-family: 'Courier Prime', monospace; 
}















